:root {
    font-size: 62.5%;

    body {
        margin: 0;
        font-size: 2rem;
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: all 0.25s;
    color: #222;
    overflow-x: hidden;
    font-size: 18px;
}

.Container-full {
    width: 100%;
    padding: 80px 0;
}

.Container-cluster {
    position: relative;
    width: 55%;
    margin: 0 auto;
    /* max-width: 1100px; */
    padding: 80px 0;
}



.content-title {
    font-weight: 700;
    line-height: 1.5;
    margin-top: 4.8rem;
    font-size: 3rem;
    font-family: "Roboto Slab";
}

.content-subtitle {
    font-weight: 600;
    line-height: 1.5;
    margin-top: 4.8rem;
    font-size: 2.2rem;
    font-family: "Roboto Slab";
    text-align: right !important;
}

.content-text {
    line-height: 2;
    font-size: 1.7rem;
    margin-top: 2.4rem;
    letter-spacing: 0.05rem;

}

.content-annotation {
    line-height: 1.5;
    font-size: 1.6rem;
    margin-top: 0rem;
}

/* @media (min-width: 2401px) {
    body{
        zoom: 150%;
    }
}
@media (max-width: 2300px) {
    body{
        zoom: 125%;
    }
}

@media (max-width: 1900px) {
    body{
        zoom: 100%;
    }
}
@media (max-width: 1300px) {
    body{
        zoom: 90%;
    }
} */

