/* ----------------------------- grid ------------------------------*/

.Container-5 {
    margin-top: 60px !important;
    margin: 0px;
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
    column-gap: 2%;
}

.Container-4 {
    margin-top: 60px !important;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
}

.Container-3 {
    margin-top: 60px !important;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
}

.Container-3 * ,
.Container-4 * {
    text-align: center;
}

.Container-5 * {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Container-3 img,
.Container-4 img,
.Container-5 img {
    width: 100%;
}

.Container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
}

.Container-2 p {
    text-align: center;
}

/* 66% 33% section */

.Container-2-left {
    margin-top: 60px !important;
    display: flex;
    align-items: center;
    margin: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;
}

.Container-2-right {
    margin-top: 60px !important;
    display: flex;
    align-items: center;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5%;
}

/* .Container-2-left .content-text {


font-size: 0.9rem;
    margin-top: 0px;
}

.Container-2-right .content-text {
    line-height: 2;
    font-size: 0.9rem;
    margin-top: 0px;
} */

.section {
    border-left: 1.4rem solid #bbbbbb;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

/* 




#image-02 {
    height: 60vh;
    padding-bottom: 0px;
} */

.image-80 {
    height: 80px;
    width: 80px;
}

/* .image-200 {
    width: 200px;
    height: auto;
    position: relative;
} */

.background-image-wrap {
    height: 65vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#section-cover {
    height: 70vh;
    overflow: hidden;
}

.Container-project-title {
    display: flex;
    align-items: center;
    width: 18%;
    margin-left: 17.5%;
    padding-right: 2%;
    max-width: 350px;
    height: 100%;
}

.Container-project-title img {
    width: 4vh;
    height: 4vh;
}

.Container-project-title h2 {
    /* padding-top: 0px; */
    /* margin-top: 0px; */
    font-size: 5vh;
    font-weight: 900;
    letter-spacing: 0.2em;
    font-family: "Roboto Slab";
}

.Container-project-title h3 {
    font-size: 3vh;
    font-weight: 300;
    font-family: "Roboto Slab";
}

.Container-project-title p {
    font-size: 2vh;
    font-weight: 300;
}

.video-background {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    position: absolute;
}


.Container-grid {
    display: flex;
    padding: 30px 0px;
    ;
}


.des-text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.article {
    font-family: "Roboto Slab";
}

.des-title {
    font-weight: 600 !important;
}

.des-header {
    font-size: 18px !important;
    padding-bottom: 20px;
    align-content: left !important;
}


/* ----------------------------- sidebar ------------------------------*/

#side-nav {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.dot {
    height: 6px;
    color: rgb(128, 128, 128);
    line-height: 1;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.35;
}

.dot.active {
    opacity: 1;
}

.dot .section {
    border-left: 8px solid rgb(128, 128, 128) !important;
}

.content {
    margin-left: 40px;
}

/* ----------------------------- nav bottom ------------------------------*/

.nav-bottom {
    position: relative;
    opacity: 50%;
    padding-bottom: 20px;
}

.nav-bottom img {
    display: block;
    margin: 10px auto;
    filter: grayscale(100%);
}

#prev {
    left: 0px;
    text-align: left !important;
}

#next {
    right: 0px;
    text-align: right !important;
}

#next .section {
    border-right: 1.4rem solid #bbbbbb;
    border-left: 0px;
    padding-right: 10px;
}

#prev img {
    margin-left: 0px !important;
}

#next img {
    margin-right: 0px !important;
}

#next .tag-div {
    justify-content: end !important;
}

.foot-text {
    margin-top: 10px;
    margin-bottom: 20px !important;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: "Arimo";
    font-weight: 700;
    align-content: left !important;
    letter-spacing: 0.3em;
}

/* ----------------------------- gallery ------------------------------*/

.gallery-image {
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12)
}

.gallery-display {
    box-shadow: 0 0 0 #fff !important;
}



/* ----------------------------- phase ------------------------------*/

#Container-phase {
    margin-top: 60px !important;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
}


.mod-top-10 * {
    padding-top: 10px;
}

b {
    font-weight: 500 !important;
}

.gallery-image-wrap {
    /* height: 600px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12)
}

.gallery-image-shadow {
    box-shadow:
        /* 2px 8px rgba(168, 150, 150, 0.3), */
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12)
}

.Container-image img {
    width: 100%;
}

.Container-center {
    text-align: center;
}

.Container-logo {
    width: 100px;
    height: 32px;
}

.content-logo {
    height: 100%;
}

.box-left {
    background-color: #efeaeb;
    position: relative;
    top: -70px;
    z-index: -1;
    padding: 5% 20px;
    transform: skewY(3deg);
}

.box-right {
    background-color: #efeaeb;
    position: relative;
    top: 70px;
    z-index: -1;
    padding: 5% 20px;
    transform: skewY(-3deg);
}

/* ----------------------------- text style ------------------------------*/

/* ----------------------------- tag */
.tag-div *,
.tag {
    font-weight: 500;
    font-size: 1.2rem;
    color: #aaaaaa;
    margin: 0.5rem 0.5rem;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #cccccc;
    display: inline-block
}

.tag-div {
    flex-wrap: wrap;
    flex-direction: row !important;
    display: flex;
    z-index: 0;
    justify-content: safe;
    top: -1rem;
    position: relative;
}

.tag-bad {
    font-size: 1.4rem;
    border: 1px solid #9e6c64;
    color: #9e6c64;
    background-color: #9e6c6411;
}

.tag-good {
    font-size: 1.4rem;
    border: 1px solid #2d7d52;
    color: #2d7d52;
    background-color: #2d7d5211
}

.tag-red {
    font-size: 1.4rem;
    color: #B70B00;
    background-color: #F8E7E5;
    border-radius: 3rem !important;
    border: 0px solid #ffffff !important;
}

.tag-yellow {
    font-size: 1.4rem;
    color: #DB9B00;
    background-color: #FFF6D6;
    border-radius: 3rem !important;
    border: 0px solid #ffffff !important;
}

.tag-green {
    font-size: 1.4rem;
    color: #008529;
    background-color: #E5F3EA;
    border-radius: 3rem !important;
    border: 0px solid #ffffff !important;
}

.tag-purple {
    font-size: 1.4rem;
    border: 1px solid #5f60ff;
    color: #5f60ff;
    background-color: #5f5fff11
}

/* .tag-ad-yellow {
    font-size: 1.4rem;
    border: 1px solid #f6c549;
    color: #f6c549;
    background-color: #f6c54911
} */




/* ----------------------------- info */

.info {
    /* padding:2rem ; */
    width: 90% !important;
    padding: 10px 5%;
    border-radius: 5px;
    border: 1px solid #ddd
}

a {
    color: #444;
    text-decoration: none;
    cursor: pointer !important;
}

/* #Container-banner {
    background-color: #eeeeee4e;
}

#Container-banner a:hover {
    text-shadow: 0.75px 0px 0px #444;
}

#Container-banner .disabled {
    opacity: 0.5;
} */

/* #phase-02 {
    text-align: right;
} */

.copyright {
    background-color: #c9c9c9;
    margin: 0;
    padding: 20px;
}

/* .tag {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .01em;
    width: fit-content;
    color: #000;
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 0px;
} */



#Container-AD01 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    grid-template-columns: 30fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

#Container-AD02 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 100%;
    grid-template-columns: 38fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.gallery-image-wrap-AD {
    /* height: 500px; */
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12)
}

.still02 {
    box-shadow: 0 0 0 #fff !important;
}


.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px gray solid;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;

}

.circle-solid {
    background-color: gray;
}

.subtitle {
    font-size: 25px;
    font-weight: 600;
    margin-right: 0px;
    text-align: right !important;
    padding-top: 80px !important
}

.image-circle-clip {
    overflow: hidden;
    border-radius: 50%;
}

.image-square-clip {
    overflow: hidden;
    border-radius: 4%;
}

.circle-shadow-light {
    box-shadow:
        /* 2px 8px rgba(168, 150, 150, 0.3), */
        0 5px 0px rgba(168, 150, 150, 0.12),
        0 2.8px 2.2px rgba(168, 150, 150, 0.086),
        0 6.7px 10.3px rgba(168, 150, 150, 0.072),

}

.circle-shadow {
    box-shadow:
        /* 2px 8px rgba(168, 150, 150, 0.3), */
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12)
}

.contact-icon {
    width: 25px;
    height: 25px;
    opacity: 25%;
    margin: 0 !important;
    padding: 0;
}

.contact-icon:hover {
    opacity: 50%;
}

.Container-icon {
    display: grid;
    grid-template-rows: 25px 25px 25px;
    gap: 15px;
    margin-top: 0;
    padding-top: 10px;
}


.hls-solution {
    color: #9e6c64
}

.stats {
    font-size: 2.8rem !important;
    line-height: 0.5;

}

.Container-5 .vertical-center{
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}
/* 
@media (max-width: 1200px) {
    .col-4 {
        flex: 0 0 33.33%;
    }

    .col-8 {
        flex: 0 0 66.66%;
    }
}

@media (max-width: 992px) {
    .col-6 {
        flex: 0 0 50%;
    }

    .col-12 {
        flex: 0 0 100%;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 62.5%;

        body {
            margin: 0;
            font-size: 10rem;
        }
    }

} */

/* Media Queries for Mobile Responsiveness */
/* Media Queries for Mobile Responsiveness */
@media (max-width: 1200px) {
    .Container-4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1080px) {

    .info {
        margin-top: 20 !important;
        width: 80%;
    }
    div:has(.info){
        padding:0 !important;
    }

    .Container-2-left,
    .Container-2-right {
        grid-template-columns: 1fr;
        margin-top: 60px !important;
    }
    #section-cover {
        /* background-color: rgba(255,255,255, 0.5); */
        background-image: url("") !important;
    }
    #section-cover .Container-project-title{
        width: 60% !important;
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 500px;
    }
    .skewed {
        margin-left: auto !important;
        margin-right:auto !important;
    }

}

@media (max-width: 768px) {
    #side-nav {
        display: none;
    }
}

@media (max-width: 576px) {
    .Container-5 {
        grid-template-columns: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .Container-3 {
        grid-template-columns: 1fr;
    }
    .Container-2 {
        grid-template-columns: 1fr;
    }
}