.body{
    margin: auto;
}
.page{
    width: 80%;
}
#portfolio{
    /* width: 60%; Set the width as a percentage of the screen width */
    max-width: 1162px; /* You can also use a fixed maximum width */
    width: fit-content;
    height: 600px; /* Set the fixed height */
    background-color: #fff; /* Set your desired background color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: grid;
    grid-template-columns: repeat(13, 12px 600px 50px 50px  50px 50px 50px 50px 50px 50px 50px 50px 50px);    
}

.portfolio-image-wrap{
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 12px;
}


.mark{
    height: 10px;
    margin-left: 20px;
    width: 10px;
}

#cover{
    border-left: 24px solid #fff;
}

.grid-active{
    display: grid;
    grid-template-columns: 50px 520px;
}

.info{
    font-family: "Lato";
    font-weight: 300;
    padding-top: 10px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    font-family: "Arimo";
    /* font-family: "Roboto Slab"; */
}

a{
    color: #444;  
    text-decoration: none;
}
a:hover {
    color: #888;  
}

.tag-div{
    flex-direction: row !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content:safe;
}
.highlight-link{
    text-decoration: underline;
    font-weight: 700;
}
.tag{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .01em;
    width: fit-content;
    color :#000;
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 0px;
}
.tag-des{
    color :#9e6c64;
    background-color: #f5eceb
}
.tag-dev{
    /* border-color: #5a7ca1; */
    color :#2d537d;
    background-color: #f0f5fa
}
.tag-pm{
    /* border-color: #db840b; */
    color :#d99904;
    background-color: #f5f2eb
}
p{
    font-size:18px;
    line-height: 1.5;
    margin-block-start: 0.5em;
}

.disabled{
    opacity: 50%;
    cursor:not-allowed;
}
.disabled a{
    opacity: 100% !important;
    cursor:not-allowed;
}

.content-text{
    line-height: 2;
    font-size: 22px;
    margin-top: 30px;
}

.invisible{
    color: rgba(0,0,0,0) ;
}
.visible{
    color: rgb(0,0,0) !important;
}
.des-text{
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}
.des-title{
    font-weight: 600 !important;
}