#side-nav {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

/* .dot {
    width: 3px;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.317);
    margin: 1px 0;
    cursor: pointer;
} */

.dot {
    width: 8px;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.317);
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
}

.dot.active {
    background-color: rgb(128, 128, 128) !important; /* Change this color to your desired active color */
    box-shadow:0.75px 0px 0px rgb(136, 124, 111) ;
}

.content {
    margin-left: 40px;
}

