.body{
    margin: auto;
}
#splash{
    width: 20% !important;
    height: auto !important;
    overflow: hidden !important;
}
#splash img{
    width: 100% !important;
    height: auto !important;
    display: block !important;

}


#portfolio{
    /* center of the position  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
}

.item {
    overflow: hidden;
    box-shadow: 
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12);
    position: relative;
    overflow: hidden !important;
}
.item div{
    visibility: collapse;
}
  
.item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center; 

}
.anchor div {
    visibility:visible;
    position: absolute;
    top: 0;
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: red; /* Adjust color as needed */

}
  
/* ### TODO */
.anchor .title {
    top: -100px; /* Adjust distance from original div */
    background-color: red; /* Adjust color as needed */
}
  
.anchor .content {
    right: -60px; /* Adjust distance from original div */
    background-color: blue; /* Adjust color as needed */
}
  
  
.anchor{
    box-shadow: 0 0 0 #fff !important;
}

#p1_name{
    font-size: 4.4vw;
    font-weight: 900;
    margin-block: 0em;
    display: inline-block;
    transform: scale(1, 0.85);
}

#p1_intro{
    position:absolute;
    white-space: nowrap;
    bottom: 0; 
    left: 0;
    font-size: 1.3vw;
    font-weight: 300;
    margin-block: 0em;
    font-variant-caps: all-small-caps;
}

/* .item:not(.expanding) {
    pointer-events: none;
}
   */