#zc-chunk {
    max-width: 600px;
    width: 80%;
    margin: auto;
    padding-top: 150px !important;
    position: relative;
}


.no-margintop {
    margin-top: 0px !important;
}

.cross-word {
    text-decoration: line-through !important;
}

.dic-word {
    font-weight: 400;
}

.ten-margintop {
    margin-top: 10px !important;
}

.dic-grid {
    display: grid;
    grid-template-columns: 4rem auto;
    gap: 20px;
    padding: 10px 0;
}

.dic-example {
    line-height: 1.2;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
    font-style: oblique;
}

#work-gallery {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 4vw;
    row-gap: 80px;
    /* width: 840px; */
    margin: 100px auto;
    max-width: 800px;
    padding-bottom: 80px;
    justify-content: center;

}

.gallery-caption {
    padding: 10px;
    margin-top: 20px;
    width: 320px;
    text-align: center;
}

.gallery-canvas {
    width: 340px;
    height: 340px;
    padding: 10px;
    border: 0.25px solid rgb(206, 206, 206);
    box-sizing: border-box;
    transition: all 200ms;
}

.gallery-canvas img {
    width: 100%;
    border: 1.5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.gallery-stack:hover .gallery-canvas {
    padding: 0px;
    transition: all 200ms;
    box-shadow:
        /* 2px 8px rgba(168, 150, 150, 0.3), */
        0 5px 0px rgba(168, 150, 150, 0.1),
        0 2.8px 2.2px rgba(168, 150, 150, 0.034),
        0 6.7px 5.3px rgba(168, 150, 150, 0.048),
        0 12.5px 10px rgba(168, 150, 150, 0.06),
        0 22.3px 17.9px rgba(168, 150, 150, 0.072),
        0 31.8px 23.4px rgba(168, 150, 150, 0.086),
        0 79px 50px rgba(168, 150, 150, 0.12);
    cursor: pointer;
}

a {
    color: #444;
    text-decoration: none;
    transition: all 500ms;
    cursor: pointer !important;
}

a:hover {
    color: #888;
}

.tag-div {
    flex-direction: row !important;
    display: flex;
    z-index: 0;
    position: relative;
    justify-content: safe;
    width: fit-content;
    margin: auto;
}

.highlight-link {
    text-decoration: underline;
    font-weight: 700;
}

.tag {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .01em;
    width: fit-content;
    margin-right: 0.6rem;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    margin-top: 0px;
}

.tag-des {
    color: #9e6c64;
    background-color: #f5eceb
}

.tag-dev {
    /* border-color: #5a7ca1; */
    color: #2d537d;
    background-color: #f0f5fa
}

.tag-pm {
    /* border-color: #db840b; */
    color: #d99904;
    background-color: #f5f2eb
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-block-start: 0.5em;
}

.invisible {
    color: rgba(0, 0, 0, 0);
}

.visible {
    color: rgb(0, 0, 0) !important;
}

.des-text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

.des-title {
    font-weight: 600 !important;
}

.social-icon {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin-right: 15px;
}

.inline-link {
    text-decoration: underline;
    font-weight: 500;
}
.dic-footnote,
.expand-time{
    line-height: 1.2;
    font-size: 16px;
}
.oblique{
    font-style: oblique;
}

.rotation{
    transform: rotate(90deg);
    text-align: center;
    font-weight: 700;
    padding-right: 0px;
    margin-top:60px;
}
.expand-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0;
    margin: 0px auto;

}
.expand-col-2 div{
    padding-left: 30px;

}

.right-border{
    border-right: 0.5px solid #303030;
    padding-right: 30px;
    text-align: right;
}

.expand-white{
    padding-top: 300px;
    margin-top:0;
    padding-bottom: 20px;
}
.expand-content{
    line-height: 1.2;
    font-size: 1.6rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.expand-time{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 992px) {
    #work-gallery {
        zoom: 150%;
    }
}


@media (max-width: 1170px) {
    #zc-chunk{
        zoom: 120%;

    }
    #work-gallery {
        grid-template-columns: 450px;
        row-gap: 60px;
        width: 100%;
        justify-content: center;
        display: grid;
        zoom: 120%;
    }

    .gallery-canvas {
        width: 400px;
        height: 400px;
        padding: 10px;
        border: 0.25px solid rgb(206, 206, 206);
        box-sizing: border-box;
        transition: all 200ms;
        margin: 0px auto;
    }

    .gallery-canvas img {
        width: 100%;
        height: 100%;
        border: 1.5px solid rgb(0, 0, 0);
        box-sizing: border-box;
    }

    .gallery-caption {
        padding: 10px;
        width: 400px;
        text-align: center;
        margin: 0px auto;
    }
}

main{
    zoom:100%;
}

@media (min-width: 2000px) {
    main {
        zoom: 110%;
    }
}

@media (min-width: 2300px) {
    main {
        zoom: 120%;
    }
}